<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="['/','home']">Home</a></li>
</ol>
<div class="row">
  <div class="col-lg-10">
    <div class="card">
      <div class="card-header bg-white">
        <div class="media">
          <div class="media-body">
            <h4 class="card-title">Interviews</h4>
            <p class="card-subtitle">Your planned interviews</p>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-fit mb-0">
        <t-interview-item *ngFor="let interview of interviews" [interview]="interview"></t-interview-item>
      </ul>
    </div>
  </div>
</div>
