<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="['/','home']">Home</a></li>
</ol>
<div class="row">
  <div class="col-lg-10">
    <div class="card">
      <div class="card-header bg-white">
        <div class="media">
          <div class="media-body">
            <h4 class="card-title">Interviews</h4>
            <p class="card-subtitle">Your planned interviews</p>
          </div>
          <div class="media-right">
            <a class="btn btn-sm btn-primary" href="student-my-courses.html">See All</a>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-fit mb-0">
        <t-interview-item></t-interview-item>
        <t-interview-item></t-interview-item>
        <t-interview-item></t-interview-item>

      </ul>
    </div>
  </div>
</div>
