<li class="list-group-item forum-thread">
  <div class="media align-items-center">
    <div class="media-left">
      <div class="forum-icon-wrapper" id="forum-item-1">
        <a class="forum-thread-icon">
          <i class="material-icons">description</i>
        </a>
      </div>
    </div>
    <div class="media-body" *ngIf="user">
      a interview with <a [routerLink]="['/','profile',interview.agency.id]">
      {{user.type==='010'?interview.agency.agencyName:interview.person.username}}</a>
      <span> it will be   {{interview.interviewDate | amTimeAgo}}  from now </span>
    </div>
    <div class="media-right">
      <div style="width:80px; text-align: right;">
        <small class="text-muted-light">{{interview.createdDate | amTimeAgo}}</small>
      </div>
    </div>
  </div>
</li>
