<div class="text-center m-2">
  <div class="icon-block rounded-circle">
    <i class="material-icons align-middle md-36 text-muted">lock</i>
  </div>
</div>
<div class="card bg-transparent">
  <div class="card-header bg-white text-center">
    <h4 class="card-title">SignUp</h4>
    <pre class="card-subtitle">{{errorMessage}}</pre>
  </div>
  <div class="card">
    <div class="card-body">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#one" data-toggle="tab">Person</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#two" data-toggle="tab">Agency</a>
        </li>
      </ul>
      <div class="tab-content mt-1">
        <div class="tab-pane active card-body" id="one">
          <form>
            <div class="form-group">
              <input type="text" name="person.username" [(ngModel)]="person.username" class="form-control"
                     placeholder="Username">
            </div>
            <div class="form-group">
              <input type="text" name="person.email" [(ngModel)]="person.email" class="form-control"
                     placeholder="Email">
            </div>
            <div class="form-group">
              <input type="text" name="person.phone" [(ngModel)]="person.phone" class="form-control"
                     placeholder="Phone">
            </div>
            <div class="form-group">
              <input type="password" name="person.password" [(ngModel)]="person.password" class="form-control"
                     placeholder="Password">
            </div>
            <div class="form-group ">
              <button type="submit" (click)="registerPerson()" class="btn  btn-primary btn-block">
                <span class="btn-block-text">Register</span>
              </button>
            </div>
          </form>
        </div>
        <div class="tab-pane  card-body" id="two">
          <form>
            <div class="form-group">
              <input type="text" name="agency.agencyName" [(ngModel)]="agency.agencyName" class="form-control"
                     placeholder="Agency Name">
            </div>
            <div class="form-group">
              <input type="text" name="agency.username" [(ngModel)]="agency.username" class="form-control"
                     placeholder="Username">
            </div>
            <div class="form-group">
              <input type="text" name="agency.email" [(ngModel)]="agency.email" class="form-control"
                     placeholder="Email">
            </div>
            <div class="form-group">
              <input type="text" name="agency.phone" [(ngModel)]="agency.phone" class="form-control"
                     placeholder="Phone">
            </div>
            <div class="form-group">
              <input type="text" name="agency.website" [(ngModel)]="agency.website" class="form-control"
                     placeholder="Website">
            </div>
            <div class="form-group">
              <input type="password" name="agency.password" [(ngModel)]="agency.password" class="form-control"
                     placeholder="Password">
            </div>
            <div class="form-group">
              <input type="text" name="agency.addresses.country" [(ngModel)]="agency.addresses.country"
                     class="form-control"
                     placeholder="Addresses Country">
            </div>
            <div class="form-group">
              <input type="text" name="agency.addresses.city" [(ngModel)]="agency.addresses.city" class="form-control"
                     placeholder="Addresses City">
            </div>
            <div class="form-group">
              <input type="text" name="agency.addresses.street" [(ngModel)]="agency.addresses.street"
                     class="form-control"
                     placeholder="Addresses Street">
            </div>
            <div class="form-group ">
              <button type="submit" (click)="registerAgency()" class="btn  btn-primary btn-block">
                <span class="btn-block-text">Register</span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer text-center bg-white">
    Already Have account <a [routerLink]="['/','login']">Sign In</a>
  </div>
</div>
